<app-nav></app-nav>
<header>
    <div class="container-fluid mb-3">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4 text-center">

                <p style="background-color: rgba(0, 0, 0, 0.5); font-size: 10vw;" class="rowdies-bold">Contact Us</p>
            </div>
        </div>
    </div>
</header>
<div class="container-fluid mt-4">
<div class="row m-3">
    <div class="col-lg-6 bg-transparent  p-lg-2">
        <h1 style="font-weight: bolder; color: #0E3500 ;">Reach out to Us</h1> 
        <h4>Have something in your mind you're interested in discussing with us? <br>
            Drop us a line below, we’d love to talk.</h4>
            <div class="contact-details-list">
                <ul>
                   <li>
                      <span class="icon">
                         <i class="fas fa-map-marker-alt"></i>
                      </span>
                      <div class="details-content">
                         <h4>Head office address :</h4>
                         <!-- <span>Akna Arcade, Thrikkakkara P.O, Kochi, 682021</span> -->                                          
                         <!-- <span>Third floor, AN Square, Unichira Thoppil Rd, Unnichira, Junction, Edappally, Kochi, Kerala 682021</span> -->
                         <span>East Fort P.O, Thrissur, Kerala 680005</span>
                      </div>
                   </li>
                   <li>
                      <span class="icon">
                         <i class="fas fa-phone-volume"></i>
                      </span>
                      <div class="details-content">
                         <h4>Toll-free number :</h4>
                         <a style="text-decoration: none; color: #0E3500;" href="tel:18008905089">1800 4507 2345</a>
                      </div>
                   </li>
                   
                   <li>
                      <span class="icon">
                         <i class="fas fa-envelope-open-text"></i>
                      </span>
                      <div class="details-content">
                         <h4>Email address :</h4>
                         <a href="mailto:EMAIL_ADDRESS" style="text-decoration: none; color: #0E3500;">helpgreenearth&#64;gmail.com</a>
                      </div>
                   </li>
                </ul>
             </div>

    </div>
    <div class="col-lg-6 bg-transparent text-white mt-5 align-content-center " style="text-align: center; display:flex-column;flex-wrap: wrap;">
        
            <div class="home-contact-form">
                <form class="contact-form row" action="" method="" role="form">
                    <div class="col-6 mb-3">
                        <input type="text" class="form-control" name="name" placeholder="Enter Name*">
                    </div>
                    <div class="col-6 mb-3">
                        <input type="number" class="form-control" name="phone"
                            placeholder="Enter Phone No*">
                    </div>
                    <div class="col-12 mb-3">
                        <input type="email" class="form-control" name="email" placeholder="Enter Email*">
                    </div>
                    <div class="col-12 mb-3">
                        <textarea class="rounded w-100" rows="4" placeholder="Enter Message*"
                            name="message"></textarea>
                    </div>
                    <div class="col-12">
                        <button type="submit" class="btn btn-light  rounded ">Send</button>
                    </div>
                </form>
            </div>
            <div class="container p-4 pb-0 m-3">
                <h1 style="color: #0E3500;" class="mb-4"><b>Follow us on social media</b></h1>
                <section class="mb-4" style="background-color: #0E3500;">
                    <!-- Facebook -->
                    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                            class="fab fa-facebook-f"></i></a>

                    <!-- Twitter -->
                    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"><i
                            class="fab fa-twitter"></i></a>

                    <!-- Google -->
                    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"><i
                            class="fab fa-google"></i></a>

                    <!-- Instagram -->
                    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"><i
                            class="fab fa-instagram"></i></a>

                    <!-- Linkedin -->
                    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedIn.com" role="button"><i
                            class="fab fa-linkedin-in"></i></a>

                    <!-- Github -->
                    <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.github.com" role="button"><i
                            class="fab fa-github"></i></a>
                </section>
                <!-- Section: Social media -->
            </div>
        </div>

        <div class="row">
            <div class="col-lg-12 p-lg-5 m-3 ">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3922.732514595578!2d76.21942062112181!3d10.521721516653416!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ba7ee4b4610f4a1%3A0x1a28372bfa8665b9!2sEast%20Fort%2C%20Pallikkulam%2C%20Thrissur%2C%20Kerala!5e0!3m2!1sen!2sin!4v1710093574395!5m2!1sen!2sin" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>

    </div>
  

</div>
</div>
</div>
<footer class="bg-dark text-white position-relative" style="bottom:0; display: flex-column;
flex-wrap: wrap;">

    <div class="footer-content">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-4">
                    <h3>Services</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li class="mb-1">Residential collection</li>
                        <li class="mb-1">Industrial collection</li>
                        <li class="mb-1">Bussiness Promotion</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 ">
                    <h3>Contact Us</h3>
                    <hr>
                    <p>Feel free to contact us</p>
                    <ul style="list-style-type: none;">
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;East Fort P.O, Thrissur, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kerala 680005</li>
                        <li> <i class="bi bi-telephone-fill"></i>&nbsp;<a style="text-decoration: none; color: white;" href="tel:18008905089">1800 4507 2345</a></li>
                        <li><i class="bi bi-envelope-at-fill"></i>&nbsp;<a href="mailto:EMAIL_ADDRESS" style="text-decoration: none; color: white;">helpgreenearth&#64;gmail.com</a><li>


                    </ul>


                </div>
                <div class="col-lg-3 col-md-6 mt-4 ">
                    <h3>Locations</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Thrissur</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Palakkad</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Ernakulam</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Kottayam</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Trivandrum</li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mt-4">
                    <h3>Support</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li> <a routerLink="" style="color: #ffffff; text-decoration: none;">Home</a></li>
                        <li><a routerLink="aboutus" style="color: #ffffff; text-decoration: none;" >About Us</a></li>
                        <li><a routerLink="contactus" style="color: #ffffff; text-decoration: none;">Contact Us</a></li>
                    </ul>
                </div>


            </div>
            <div class="row ">
                <div class="col-12">
                    <div class="container p-4 pb-0">
                        <!-- Section: Social media -->
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"><i
                                    class="fab fa-twitter"></i></a>

                            <!-- Google -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"><i
                                    class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"><i
                                    class="fab fa-instagram"></i></a>

                            <!-- Linkedin -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedIn.com" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>

                            <!-- Github -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.github.com" role="button"><i
                                    class="fab fa-github"></i></a>
                        </section>
                        <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2023 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/">Green<i class="fa-brands fa-pagelines"></i>Earth.com</a>
                    </div>
                    <!-- Copyright -->
                </div>
            </div>
        </div>
    </div>
</footer>

