<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal"
  data-bs-whatever="@mdo">Add coupons</button>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Coupons</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form [formGroup]="couponForm">
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Category:</label>
            <select class="form-select" formControlName="selectedOption">
              <option *ngFor="let item of category" [value]="item">{{ item }}</option>
            </select>
            <p>The selected item is : {{couponForm.value.selectedOption}}</p>
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Brand Name:</label>
            <input class="form-control" type="text" name="brandname" id="brandname" formControlName="brandname">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Title:</label>
            <input class="form-control" type="text" name="title" id="title" formControlName="title">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Description:</label>
            <input class="form-control" type="text" name="desc" id="desc" formControlName="desc">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Code:</label>
            <input class="form-control" type="text" name="code" id="code" formControlName="code">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">DOC:</label>
            <input class="form-control" type="date" name="doc" id="doc" formControlName="doc">
          </div>
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">DOE:</label>
            <input class="form-control" type="date" name="doe" id="doe" formControlName="doe">
          </div>       
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" (click)="onSave()">Submit</button>
      </div>
    </div>
  </div>
</div>