<div class="container m-5">
    <div class="row m-5 align-content-center">
        <div class="col-lg-7 mx-auto p-lg-4 bg-success-subtle rounded-4 shadow-lg border border-2 border-dark-subtle ">
            <h3 class="text-center">Sign Up</h3>
            <form (ngSubmit)="onSubmit()" [formGroup]="signupempForm">
                <div class="form-group">
                <div class="mb-3">
                    <label for="name">Name:</label>      
                   <input type="text" class="form-control" formControlName="name" placeholder="Enter your full name" style="width: 100%;height: min-content;">
                </div>
                <div class="mb-3">
                    <label for="name">Address:</label>      
                   <textarea class="form-control" formControlName="address" placeholder="Enter your address" style="width: 100%;height: min-content;"></textarea>
                </div>
                <div class="mb-3">
                    <label for="name">Pincode:</label>      
                    <input type="number" class="form-control" formControlName="pincode" placeholder="Enter your full phone number" style="width: 100%;height: min-content;">
                   
                </div>
                <div class="mb-3">
                    <label for="name">Phone Number:</label>      
                   <input type="number" class="form-control" formControlName="phno" placeholder="Enter your full phone number" style="width: 100%;height: min-content;">
                </div>
                <div class="mb-3">
                    <label for="name">Email Id:</label>      
                   <input type="email" class="form-control" formControlName="email" placeholder="Enter your email id" style="width: 100%;height: min-content;">
                </div>
                <div class="mb-3">
                   <label for="password">Password:</label>
                   <input type="password"class="form-control" formControlName="password"  style="width: 100%;" class="mb-3">
                </div>
                <div class="d-flex justify-content-center">
                    <button [disabled]="!signupempForm.valid" type="submit" class="btn-success rounded" style="width: 40%;">Submit</button>
                </div>
            </div>
   


         
            </form>
        </div>
    </div>
</div>