<div class="container mt-5">
  <div class="row">
    <div class="col-lg-12">
      <!-- Button trigger modal -->
      <button type="button" class="btn btn-primary me-3" (click)="findAllEmp()">
        View employees
      </button>
      <button type="button" class="btn btn-primary me-3" (click)="findAllEmpRoutes()">
        View employees routes
      </button>
      <button type="button" class="btn btn-primary me-3" data-bs-toggle="modal" data-bs-target="#exampleModal"
      data-bs-whatever="@mdo" (click)="addEmpRoutes()">
        Add Employee routes
      </button>
      <div class="col-lg-12 p-lg-2">
        <table class="table" *ngIf="show2">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Slno</th>
              <th scope="col">Name</th>
              <th scope="col">Pincode</th>
              <th scope="col">Collection Pins</th>
            
  
              
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let row of responseData1; let i = index" (click)="onRowClick(row)">
              <td>{{ i +1 }}</td>
              <td>{{ row.empname }}</td>
              <td>{{ row.emppin }}</td>
              <td>
                <ul>
                  <li *ngFor="let pin of getCollectionPins(row.collectionpins)">{{ pin }}</li>
                </ul>
              </td>
                
            </tr>
  
  
          </tbody>
        </table>
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true" (hidden)="clearForm()">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Add Routes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form [formGroup]="routeForm">
          <label for="recipient-name" class="col-form-label">Employee Name:</label>
          <select class="form-select" formControlName="selectedEmp" (change)="updateSelection()">
            <option *ngFor="let item of responseData" [value]="item.name">{{ item.name }}</option>
          </select>
          
          <!-- <label for="recipient-name" class="col-form-label">Employee Id:</label>
          <input type="text" class="form-control" [value]="selectedId" visually-hidden >
          
          <label for="recipient-name" class="col-form-label">Employee pincode:</label>      
          <input type="text" class="form-control" [value]="selectedPincode"> -->
          
 
            
            <!-- <p>The selected item is : {{routeForm.value.selectedOption}}</p> -->
            
         
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Postoffice 1:</label>
            <select class="form-select" formControlName="selectedPost1">
              <option *ngFor="let item of allpost " [value]="item.pincode">{{ item.postoffice}}</option>
            </select>
            
            
            <label for="recipient-name" class="col-form-label">Postoffice 2:</label>
            <select class="form-select" formControlName="selectedPost2">
              <option *ngFor="let item of allpost " [value]="item.pincode">{{ item.postoffice}}</option>
            </select>
            <label for="recipient-name" class="col-form-label">Postoffice 3:</label>
            <select class="form-select" formControlName="selectedPost3">
              <option *ngFor="let item of allpost " [value]="item.pincode">{{ item.postoffice}}</option>
            </select>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onSub()">Submit</button>
      </div>
    </div>
  </div>
</div>
    </div>
    <div class="col-lg-12 p-lg-2 ">
      <table class="table" *ngIf="show1">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Addrress</th>
            <th scope="col">Pincode</th>
            <th scope="col">Phno</th>
            <th scope="col">Remove</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of responseData" (click)="onRowClick(row)">
            <td>{{ row._id }}</td>
            <td>{{ row.name }}</td>
            <td>{{ row.address }}</td>
            <td>{{ row.pincode }}</td>
            <td>{{ row.phno }}</td>

            <td><button class="btn btn-danger" (click)="onRowClick(row);removeEmp()">Delete</button></td>

          </tr>


        </tbody>
      </table>
    </div>



    <div class="col-lg-12 p-lg-2 ">
      <table class="table" *ngIf="show">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Name</th>
            <th scope="col">Pincode</th>
            <th scope="col">Collection Pins</th>
            <th scope="col">Actions</th>

            
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let row of responseData1" (click)="onRowClick(row)">
            <td>{{ row.empid }}</td>
            <td>{{ row.empname }}</td>
            <td>{{ row.emppin }}</td>
            <td>
              <ul>
                <li *ngFor="let pin of getCollectionPins(row.collectionpins)">{{ pin }}</li>
              </ul>
            </td>
            <td><button class="btn btn-danger me-2" (click)="onRowClick(row);removeRoute();">Delete</button><button class="btn btn-danger me-2" data-bs-toggle="modal" data-bs-target="#editModal"
              data-bs-whatever="@mdo" (click)="onRowClick(row); updateEmpRoutes()">Edit</button></td>

          </tr>


        </tbody>
      </table>
      <div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel"
  aria-hidden="true" (hidden)="clearForm()">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit Routes</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body ">
        <form [formGroup]="routeForm1">
          <label for="recipient-name" class="col-form-label">Employee Name:</label>
          <select class="form-select" formControlName="selectedEmp1">
            <option [value]="empname">{{ empname }}</option>
          </select>
          
          <!-- <label for="recipient-name" class="col-form-label">Employee Id:</label>
          <input type="text" class="form-control" [value]="selectedId" visually-hidden >
          
          <label for="recipient-name" class="col-form-label">Employee pincode:</label>      
          <input type="text" class="form-control" [value]="selectedPincode"> -->
          
 
            
            <!-- <p>The selected item is : {{routeForm.value.selectedOption}}</p> -->
            
         
          <div class="mb-3">
            <label for="recipient-name" class="col-form-label">Postoffice 1:</label>
            <select class="form-select" formControlName="selectedPost11">
              <option *ngFor="let item of allpost " [value]="item.pincode">{{ item.postoffice}}</option>
            </select>
            
            
            <label for="recipient-name" class="col-form-label">Postoffice 2:</label>
            <select class="form-select" formControlName="selectedPost22">
              <option *ngFor="let item of allpost " [value]="item.pincode">{{ item.postoffice}}</option>
            </select>
            <label for="recipient-name" class="col-form-label">Postoffice 3:</label>
            <select class="form-select" formControlName="selectedPost33">
              <option *ngFor="let item of allpost " [value]="item.pincode">{{ item.postoffice}}</option>
            </select>
          </div>
          
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="submit" class="btn btn-primary" data-bs-dismiss="modal" (click)="onUpdate()">Update</button>
      </div>
    </div>
  </div>

    </div>
  </div>
</div>





