<header>
	<div class="hr text-center">

		<p style="font-size: 35px;font-family:'Shadows Into Light';float: left;">Name</p>
  </div>

</header>
<div style="height: 700px;" class="container">
<h1>Welcome to Green Earth</h1>
<button type="submit" class="bg-success mb-3">Request Pickup</button><br>
<button type="submit" class="bg-success mb-3">Pickup History</button><br>
<button type="submit" class="bg-success mb-3">Coupen store</button><br>
<button type="submit" class="bg-success mb-3">Request Pickup</button>    
</div>


