<app-nav></app-nav>

<header>
    <div class="container-fluid mb-4">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4 text-center">

                <p style="background-color: rgba(0, 0, 0, 0.5); font-size: 10vw;" class="rowdies-bold">About Us</p>
            </div>
        </div>
    </div>
</header>

<div class="container-fluid mt-4">
    <div class="row">
        <div class="col-lg-6 text-center align-content-center p-lg-5">
            <p style="font-size: 3.6vw; font-weight: bolder; color:white; line-height: 5.6vw; background-color:#0E3500;"
                class="justify-content-evenly p-5 mt-lg-5 fs-3 ">Our out reach now spans over 7 districts, delivering
                sustainable solutions for a lasting Impact</p>
        </div>
        <div class="col-lg-6 bg-light-subtle justify-content-evenly">
            <p class="p-lg-5" style="font-size: 1.8vw; color: 0E3500;"><b>Green Earth</b> is the first and foremost
                Plastic Waste Management Technology startup dedicated to addressing the pressing plastic waste issues
                faced by society and the environment as a whole. Our vision is clear: to become the ultimate destination
                for the disposal of plastic waste, making it easier for everyone to contribute to a cleaner, greener
                future. Since our inception in 2019, we have consistently led the charge in developing sustainable
                plastic waste solutions, earning a reputation for our pioneering environmental management, exceptional
                customer service, and unwavering commitment to sustainability.

                With a satisfied customer base exceeding 65 thousand, Green Earth stands as a prominent player in
                Kerala's Plastic waste management sector. Green Earth's core mission revolves around recycling, using a
                technology-driven platform to optimize plastic waste collection and integrate segregated plastic waste
                into a vast recycling network. Green Earth's reach extends across municipalities, commercial
                establishments, and residential communities across Kerala, all managed from the headquarters in
                Thrissur, Kerala.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 text-start p-lg-5">
            <p style="font-size: 3.8vw; font-weight: bolder; color: #0E3500;">OUR MISSION</p>
            <p style="font-size: 1.8vw; color:#0E3500;">
                To provide cutting-edge plastic waste solutions that promote a sustainable, circular economy, reduce
                environmental impact, and enhance resource efficiency.</p>
        </div>
        <div class="col-lg-6 text-start p-lg-5">
            <p style="font-size: 3.8vw; font-weight: bolder; color: #0E3500;">OUR VISION</p>
            <p style="font-size: 1.8vw; color:#0E3500;">
                Green Earth's vision is to be a global leader in the transformation of plastic waste management, leading
                the charge toward a world where plastic waste is no longer a problem but a solution..</p>
        </div>

    </div>

    <div class="row">
        <p class="text-center" style="color: #0E3500;font-size: 3.6vw; font-weight: bolder;">HOW IT WORKS</p>
        <div class="col-lg-3">
            <div class="card">
                <div class="layer">

                </div>
                <div class="content">
                    <div class="image">
                        <img width="80px" src="../../assets/calendar.png" alt="">

                    </div>
                    <div class="details">
                        <h2>SCHEDULE</h2>
                    </div>
                    <p>Login to Green Earth and raise a pickup.</p>


                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="layer">

                </div>
                <div class="content">
                    <div class="image">
                        <img width="80px" src="../../assets/healthy.png" alt="">

                    </div>
                    <div class="details">
                        <h2>BE READY</h2>
                    </div>
                    <p>Please keep the trash ready on the scheduled date/time.</p>


                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="layer">

                </div>
                <div class="content">
                    <div class="image">
                        <img width="80px" src="../../assets/truck.png" alt="">

                    </div>
                    <div class="details">
                        <h2>PICK UP</h2>
                    </div>
                    <p>Our team will be available at your doorstep on the scheduled date/time slot for the scrap pickup..</p>


                </div>
            </div>

        </div>
        <div class="col-lg-3">
            <div class="card">
                <div class="layer">

                </div>
                <div class="content">
                    <div class="image">
                        <img width="80px" src="../../assets/coupon.png" alt="">

                    </div>
                    <div class="details">
                        <h2>EARN COUPONS</h2>
                    </div>
                    <p>On completion of the pick up process, you will get purchase coupon as rewards.</p>


                </div>
            </div>

        </div>

    </div>


    <!-- <div class="row" style="margin-top: 150px;">
        <div class="col-lg-4">
             
        </div>
    
    
</div> -->
<div class="row mt-lg-5">
    <div class="col-lg-12">
        <div class="sec-container">
            <video id="background-video" autoplay loop muted poster="../../assets/pv1.png" class="sec-video">
                <source src="../../assets/video1.mp4" type="video/mp4">
              </video>
              <div class="sec-content">
                <p>Small steps <br> Big changes</p>
              </div>
        </div>
        
          
         
    </div>
</div>

<footer class="bg-dark text-white position-relative" style="bottom:0; display: flex-column;
flex-wrap: wrap;">

    <div class="footer-content">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-4">
                    <h3>Services</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li class="mb-1">Residential collection</li>
                        <li class="mb-1">Industrial collection</li>
                        <li class="mb-1">Bussiness Promotion</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 ">
                    <h3>Contact Us</h3>
                    <hr>
                    <p>Feel free to contact us</p>
                    <ul style="list-style-type: none;">
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;East Fort P.O, Thrissur, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kerala 680005</li>
                        <li> <i class="bi bi-telephone-fill"></i>&nbsp;<a style="text-decoration: none; color: white;" href="tel:18008905089">1800 4507 2345</a></li>
                        <li><i class="bi bi-envelope-at-fill"></i>&nbsp;<a href="mailto:EMAIL_ADDRESS" style="text-decoration: none; color: white;">helpgreenearth&#64;gmail.com</a><li>


                    </ul>


                </div>
                <div class="col-lg-3 col-md-6 mt-4 ">
                    <h3>Locations</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Thrissur</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Palakkad</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Ernakulam</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Kottayam</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Trivandrum</li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mt-4">
                    <h3>Support</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li> <a [routerLink]="['/home']" style="color: #ffffff; text-decoration: none;">Home</a></li>
                        <li><a [routerLink]="['/aboutus']" style="color: #ffffff; text-decoration: none;" >About Us</a></li>
                        <li><a [routerLink]="['/contactus']" style="color: #ffffff; text-decoration: none;">Contact Us</a></li>
                    </ul>
                </div>


            </div>
            <div class="row ">
                <div class="col-12">
                    <div class="container p-4 pb-0">
                        <!-- Section: Social media -->
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"><i
                                    class="fab fa-twitter"></i></a>

                            <!-- Google -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"><i
                                    class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"><i
                                    class="fab fa-instagram"></i></a>

                            <!-- Linkedin -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedIn.com" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>

                            <!-- Github -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.github.com" role="button"><i
                                    class="fab fa-github"></i></a>
                        </section>
                        <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2023 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/">Green<i class="fa-brands fa-pagelines"></i>Earth.com</a>
                    </div>
                    <!-- Copyright -->
                </div>
            </div>
        </div>
    </div>
</footer>



</div>