

<!-- <button type="button" class="btn btn-primary me-3" (click)="findAllpickup()">
    View Pickup Requests
  </button> -->


<div class="col-lg-12 p-lg-5 ">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">PickupId</th>
          <th scope="col">UserId</th>
          <th scope="col">Name</th>
          <th scope="col">Addrress</th>
          <th scope="col">Pincode</th>
          <th scope="col">Phno</th>
          <th scope="col">Email</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">category</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of responseData" (click)="onRowClick(row)">
          <td>{{ row._id }}</td>
          <td>{{ row.cuid }}</td>
          <td>{{ row.name}}</td>
          <td>{{ row.address }}</td>
          <td>{{ row.pincode }}</td>
          <td>{{ row.phno }}</td>
          <td>{{ row.email }}</td>
          <td>{{ row.date }}</td>
          <td>{{ row.time }}</td>
          <td>{{ row.category }}</td>
          <td>
            <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#exampleModal"> Assign Employee </button>
          </td>
          
          <td class="text-danger">{{row.status}}</td>
        </tr>


      </tbody>
    </table>
  </div>
  </div>

 
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal Title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <!-- Dropdown box -->
          <div class="form-group">
            <label for="exampleFormControlSelect1">Choose the employee</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option>{{empName}}</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="assignEmp()">Save</button>
        </div>
      </div>
    </div>
  </div>
  