<p>Current empid is {{current_userId}}</p>

<button type="button" class="btn btn-primary me-3" (click)="myReq()">
    Pickup Requests
  </button>


<div class="col-lg-12 p-lg-5 ">
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col">OrderId</th>
          <th scope="col">UserId</th>
          <th scope="col">Name</th>
          <th scope="col">Addrress</th>
          <th scope="col">Pincode</th>
          <th scope="col">Phno</th>
          <th scope="col">Email</th>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Action</th>
          <th scope="col">Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let row of responseData">
          <td>{{ row.pickupData._id }}</td>
          <td>{{ row.pickupData.userid }}</td>
          <td>{{ row.pickupData.name }}</td>
          <td>{{ row.pickupData.address }}</td>
          <td>{{ row.pickupData.pincode }}</td>
          <td>{{ row.pickupData.phno }}</td>
          <td>{{ row.pickupData.email }}</td>
          <td>{{ row.pickupData.date }}</td>
          <td>{{ row.pickupData.time }}</td>
          <td class="text-danger ">Status text</td>
        </tr>


      </tbody>
    </table>
  </div>
  </div>