body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.rowdies-light {
  font-family: "Rowdies", sans-serif;
  font-weight: 300;
  font-style: normal;
}

.rowdies-regular {
  font-family: "Rowdies", sans-serif;
  font-weight: 400;
  font-style: normal;
}





.aboreto-regular {
    font-family: "Aboreto", system-ui;
    font-weight: 400;
    font-style: normal;
  }
  .laila-bold {
    font-family: "Laila", serif;
    font-weight: 700;
    font-style: normal;
  }
  
  .shadows-into light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
  }
  .paytone-one-regular {
    font-family: "Paytone One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  