
<app-nav></app-nav>

<header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 mb-4">
                <div class="hr text-center">
                    <p style="font-size: 12vw; font-family:'Aboreto'; background-color: rgba(0,0,0,0.6);">Green<i
                            style="color: lightgreen;" class="fa-brands fa-pagelines"></i>Earth</p>
                    <p style="font-size: 3vw; font-family:'Shadows Into Light';">Small steps Big changes</p>
                </div>
            </div>
        </div>
    </div>
</header>




<div class="container-fluid mt-5">
    <div class="row m-4">
        <h1 class=""><b>What we do?</b></h1>
        <hr>
        <div class="col-lg-7 col-md-7 col-xs-7 col-sm-7 mb-4 mt-4 align-content-center"
            style="background-color: #0E3500; color: rgb(255, 255, 255);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.5vw;">

            <p class="justify-content-evenly m-3" style="font-size: 1.8vw;"><b> Green<i style="color: lightgreen;"
                        class="fa-brands fa-pagelines"></i>Earth </b> is a
                plastic waste management initiative that came about in 2023. Effective plastic waste collection is a
                critical component of sustainable waste management systems aimed at mitigating the environmental impact
                of
                plastic pollution. It involves the organized gathering and removal of plastic materials from various
                sources, such as households, businesses, and public spaces, to prevent their improper disposal and
                eventual
                entry into ecosystems. This platform is created to collect plastic waste from varous fields such as
                hoseholds, bussiness and public spaces with the help of technology to ensure zero waste, a greener earth
                and
                a sustainable future for all. Green<i style="color: rgba(30, 164, 30, 0.595);"
                    class="fa-brands fa-pagelines"></i>Earth
                engages in plastic waste collection, channeling it into end recycling centers to ensure zero waste.</p>
        </div>
        <div class="col-lg-5 col-md-12 p-5 mt-2 mb-4 bg-transparent " style="background-color: rgba(50, 116, 58, 0.726);">
            <img src="../../assets/trans.png" class="img-fluid" alt="">

        </div>

    </div>
</div>



<div class="container-fluid mt-3">
    <div class="row mt-4 ">
        <h1 class="ms-4"><b>Our Services</b></h1>
        <hr class="ms-4">

        <div class="p-lg-5 mb-lg-5 "
            style="background-color: #074207e8; color: rgb(251, 252, 251);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 1.6vw;">
            <div class="row mt-4">
                <div class="col-lg-4 mb-2">

                    <div class="card mb-3 h-100" style="max-width: 100%;">
                        <div class="card-header">
                            <h2>Residential Collection</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><b>Green Earth's</b> residential plastic collection system is your best
                                partner to deal with the plastic cumulated in residences
                            </p>
                            <ul>
                                <li><b>Easy scheduling:</b> Clear your plastics as per your choice of date and time</li>
                                <li><b>Our Team:</b> Our skilled and friendly team will reach to your door steps</li>
                                <li><b>Instant Rewards:</b> You will get instant rewards as per your intrested areas
                                    after the pick up</li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4 mb-2">
                    <div class="card mb-3 h-100" style="max-width: 100%;">
                        <div class="card-header">
                            <h2>Industrial Collection</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text"><b>Green Earth's</b> industrial plastic collection system is your best
                                companion to deal with the large scale plastic generated in industies
                            </p>
                            <ul>
                                <li><b>Schedule pickup:</b> Clear your plastics as per your choice of date and time.
                                </li>
                                <li><b>Easy clearence:</b> Our skilled and friendly team will reach to your firm</li>
                                <li><b>Fast assesment & Payment</b> Collected plastic waste will weighed and amount will
                                    be credited</li>
                            </ul>
                        </div>
                    </div>
                </div>


                <div class="col-lg-4 mb-2">
                    <div class="card mb-3 h-100" style="max-width: 100%;">
                        <div class="card-header">
                            <h2>Bussiness Promotion</h2>
                        </div>
                        <div class="card-body">
                            <p class="card-text">We promote buissiness by providing adeqate amount of purchase coupons
                                to the customers as rewards. We are intended to rescue the earth by recycling plastic
                                through that promote different bussiness</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<div class="container-fluid mt-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-lg-5 mt-2 mb-4" style="background-color: #ffffff;">
            <h1 class="text-center" style="font-size: 3.6vw; margin-top:10%; color: #0E3500;"><b>Small Steps <br> Big Changes</b></h1>
            <img src="../../assets/clg (2).png" class="img-thumbnail mx-auto d-block" style="height: 500px; max-width: 100%;" alt="">
        </div>
        <div class="col-lg-6 col-md-12 p-lg-4 mt-5 mb-4 align-content-center align-items-center h-75"
            style="background-color:#0E3500; color: rgb(247, 252, 247);font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; font-size: 2.2vw;">
            <p class="mt-4 mb-2 p-3 justify-content-evenly " style="font-size: 1.8vw;">India's annual production of 3.4
                million tonnes of plastic waste poses a critical environmental challenge, especially with only 30% of it
                being recycled. The pressing need for effective waste management is evident. Aakri steps in as a crucial
                solution to address this gap, offering a comprehensive approach to tackle the rising tide of unmanaged
                waste. By promoting recycling, reducing environmental impact, and providing efficient waste solutions,
                Green Earth is not just an app; it's a necessity for a cleaner, more sustainable future.</p>
                <div class="row align-content-around">
                    <div class="col-lg-3 col-md-4 col-sm-6 pt-4 m-4  divc">
                        <p style="font-size: 1.4vw;text-align: center;"><span style="font-size: 3.6vw;">4</span><br>YEARS OF <br> EXCELLENCE</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pt-4 m-4  divc">
                        <p style="font-size: 1.4vw;text-align: center;"><span style="font-size: 3.6vw;">3</span><br>AWARDS OF <br> HONOUR</p>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6 pt-4 m-4 divc">
                        <p style="font-size: 1.4vw;text-align: center;"><span style="font-size: 3.6vw;">45+</span><br>PARTNERS OF <br> EXCELLENCE</p>
                    </div>
                </div>
                
        </div>
    </div>
</div>







<div class="container-fluid mt-4 mb-4 ">
    <div class="row">
        <div style="background-image:linear-gradient(rgba(0,0,0,.2), rgba(0,0,0,.2)),url('../../assets/headerbg.jpg');background-size: cover;"
            class="col-lg-12">
            <div class="row">
                <div class="col-6 bg-transparent  text-white mt-5">
                    <p style="font-size: 2.9vw;font-weight: bolder;text-align: center; margin-top: 90px;" class="animate-charcter">
                        Shaping Tomorrow's <br> Future Today!
                    </p>

                    <p style="text-align:start;">Want to make a difference? Reach out to us!.</p>
                </div>
                <div class="col-6 bg-transparent text-white ms-auto mt-5 " style="height: 500px;text-align: center;">
                    <div class="col-lg-12">
                        <div class="home-contact-form">
                            <form class="contact-form row" action="" method="" role="form">
                                <div class="col-6 mb-3">
                                    <input type="text" class="form-control" name="name" placeholder="Enter Name*">
                                </div>
                                <div class="col-6 mb-3">
                                    <input type="number" class="form-control" name="phone"
                                        placeholder="Enter Phone No*">
                                </div>
                                <div class="col-12 mb-3">
                                    <input type="email" class="form-control" name="email" placeholder="Enter Email*">
                                </div>
                                <div class="col-12 mb-3">
                                    <textarea class="rounded w-100" rows="4" placeholder="Enter Message*"
                                        name="message"></textarea>
                                </div>
                                <div class="col-12">
                                    <button type="submit" class="btn btn-light  rounded ">Send</button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





<div class="container-fluid mt-5 mb-5 ">
    <div class="row">
        <div class="col-12 bg-light" style="background-size: cover;">
            <h1 class="text-center mt-4 mb-4  ">Gallery</h1>
            <div class="rowg justify-content-center ">
                <div class="column">
                    <img src="../../assets/pc1.webp">
                    <img src="../../assets/pc2.JPG">
                    <img src="../../assets/pc3.png">
                </div>
                <div class="column">

                    <img src="../../assets/pc10.jfif">
                    <img src="../../assets/pc5.webp">
                    <img src="../../assets/pc6.jpg">

                </div>
                <div class="column">

                    <img src="../../assets/pc7.jpg">
                    <img src="../../assets/pc8.webp">
                    <img src="../../assets/pc9.jpg">

                </div>


            </div>
        </div>
    </div>
</div>



<div class="container-fluid">
    <div class="row">
        <div style="background-image:linear-gradient(rgba(0,0,0,.6), rgba(0,0,0,.6)),url('../../assets/green.jpeg');background-size: cover;"
            class="col-lg-12">
            <div class="row">
                <div class="col-12 bg-transparent  text-white mt-5">
                    <p style="font-size:5.1vw; font-weight: bolder;" class="p-2  text-white">Let's Change The World</p>
                    <p style="font-size: 2.5vw;" class=" text-white">Join Us Now And Become A Volunteer !</p>
                    <button type="button" class="btn bg-warning  text-black  rounded-3 mb-5 float-end me-5  "><b>Become
                            a volunteer</b></button>
                </div>
            </div>
        </div>
    </div>
</div>
<footer class="bg-dark text-white position-relative" style="bottom:0; display: flex-column;
flex-wrap: wrap;">

    <div class="footer-content">
        <div class="container text-white">
            <div class="row">
                <div class="col-lg-3 col-md-6 mt-4">
                    <h3>Services</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li class="mb-1">Residential collection</li>
                        <li class="mb-1">Industrial collection</li>
                        <li class="mb-1">Bussiness Promotion</li>
                    </ul>
                </div>
                <div class="col-lg-3 col-md-6 mt-4 ">
                    <h3>Contact Us</h3>
                    <hr>
                    <p>Feel free to contact us</p>
                    <ul style="list-style-type: none;">
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;East Fort P.O, Thrissur, <br> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Kerala 680005</li>
                        <li> <i class="bi bi-telephone-fill"></i>&nbsp;<a style="text-decoration: none; color: white;" href="tel:18008905089">1800 4507 2345</a></li>
                        <li><i class="bi bi-envelope-at-fill"></i>&nbsp;<a href="mailto:EMAIL_ADDRESS" style="text-decoration: none; color: white;">helpgreenearth&#64;gmail.com</a><li>


                    </ul>


                </div>
                <div class="col-lg-3 col-md-6 mt-4 ">
                    <h3>Locations</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Thrissur</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Palakkad</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Ernakulam</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Kottayam</li>
                        <li><i class="bi bi-geo-alt-fill"></i>&nbsp;Trivandrum</li>

                    </ul>
                </div>

                <div class="col-lg-3 col-md-6 mt-4">
                    <h3>Support</h3>
                    <hr>
                    <ul style="list-style-type: none;">

                        <li> <a routerLink="" style="color: #ffffff; text-decoration: none;">Home</a></li>
                        <li><a routerLink="aboutus" style="color: #ffffff; text-decoration: none;" >About Us</a></li>
                        <li><a routerLink="contactus" style="color: #ffffff; text-decoration: none;">Contact Us</a></li>
                    </ul>
                </div>


            </div>
            <div class="row ">
                <div class="col-12">
                    <div class="container p-4 pb-0">
                        <!-- Section: Social media -->
                        <section class="mb-4">
                            <!-- Facebook -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/" role="button"><i
                                    class="fab fa-facebook-f"></i></a>

                            <!-- Twitter -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.twitter.com" role="button"><i
                                    class="fab fa-twitter"></i></a>

                            <!-- Google -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.google.com" role="button"><i
                                    class="fab fa-google"></i></a>

                            <!-- Instagram -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com" role="button"><i
                                    class="fab fa-instagram"></i></a>

                            <!-- Linkedin -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.linkedIn.com" role="button"><i
                                    class="fab fa-linkedin-in"></i></a>

                            <!-- Github -->
                            <a mdbRipple class="btn btn-outline-light btn-floating m-1" href="https://www.github.com" role="button"><i
                                    class="fab fa-github"></i></a>
                        </section>
                        <!-- Section: Social media -->
                    </div>
                    <!-- Grid container -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        © 2023 Copyright:
                        <a class="text-white" href="https://mdbootstrap.com/">Green<i class="fa-brands fa-pagelines"></i>Earth.com</a>
                    </div>
                    <!-- Copyright -->
                </div>
            </div>
        </div>
    </div>
</footer>